#game {
    margin-top: 20px;
    padding: 10px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
    

}
h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 100px;
    font-stretch: extra-expanded;
 
}

